__pycache__/
*.py[cod]
*$py.class

.idea/*
.idea

.venv/
.venv/*

media/*
!media/.gitkeep


staticfiles/*
!staticfiles/.gitkeep

*.pot

*.log
node_modules
node_modules/*
package-lock.json
package.json